/* article_main.scss
 * styling for article display on main page
 * Joe 2017
 */



.main-article:hover, .main-article{
    text-align: center;
    text-decoration: none; 
    color: #000;
    .pic-article {
        width: 100%;
    }
    .lead-title-article {
        font-family: Superclarendon;
        font-size: 24px;
    }
    .article-divider {
        width: 100%; 
        size: 2pt;
        color: black;
        border-top: 3px solid #8c8b8b;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .author-main {
        font-family: Montserrat;
        size: 15pt;
        text-align: center;
    }
    .main-page-article {
        font-family: Avenir;
        font-size: 15pt;
    }
}